html{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
body{

	margin: 0;
}
.navigation{
	list-style: none;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 0;
	width: 60%;
}

.navigation-items{
	display: inline-block;
	width: 24%;
	text-align: center;

}

.navigation-items a{
	text-decoration: none;
	color: #16A085;
	text-transform:uppercase;
	font-weight: bold;
	width: 100%;
	display: inline-block;
	padding: 1rem 0;
	font-size: 1.5rem;
}

.bg img{
width: 100%;
}

.container{
	background-color: #F5F6F7;
	text-align: center;
	padding: 1rem 5%;
}

.title{
color:rgb(55, 55, 55);
font-size: 1.1rem;
text-transform: uppercase;
}

.description{
	color: #373737;
	font-size: .8rem;
}

.btn a{
	background-color: #16A085;
	border-radius: 3px;
	padding: 1rem;
	font-size: .8rem;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	width: 192px;
	font-weight: 700;
	margin-top: 1rem;
}

.footer{
	text-align: right;
padding: 3rem 1rem;
color: #373737;
}